*{
    margin: 0;
}

body {

    margin: auto;
    background-color:gray;
    background-repeat: no-repeat;
    max-width: 900px;
    height: 100%;
    width: 100%;
    
}

#box1{
    margin-top: 10px;
    position: absolute;
    max-width: 950px;
    padding: 20px;
    background-color: rgba(46, 44, 44, 0.6);
    top: auto;
    left: auto;
}
.title_head header{
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.photo_perfil{
    width: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
    margin-right: 10px;
    
}

.title{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    color: whitesmoke;
    margin-bottom: 10px;
}

.subtitle{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 35px;
    color: whitesmoke;
    margin-bottom: 10px;
}

.post_title{
    margin-bottom: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    color: f5f5f5;
    font-style: italic;
}
.posts{
    background-color: aliceblue;
    padding: 10px;
    margin-bottom: 10px;
    border: 5px black solid;
    border-radius: 10px;
}

.post_text{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-align: justify;
}

.post_photo{
    margin-bottom: 10px;
    width: 100%;
}

.ul_list {
    list-style-type: none;
    padding: 0;
    margin-left: 10px;
}

.ul_list li a{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: whitesmoke;
    text-decoration: none;

}